[2021-09-02 19:45] seanmc9 opened #2 "Only grabs top 2 grids, would be awesome if it grabbed everything"
I would like to be able to scrape all of the cards on a page for Id information, but I found that as currently implemented, this scraper only actually grabs the top 2-6 with this line in `OpenseaScraper.js` `const cardsNodeList = document.querySelectorAll(".Asset--anchor");`. This works great for finding the floor, but what if I wanted to grab all of the cards, would this be possible? I tried a co

[2021-09-02 20:37] dcts commented on #2
Hey, how many cards would you want to grab? Because the page dynamically loads the items and replaces the old ones. You can see that behavior if you check the DOM and scroll... Heres a screenshare of the DOM during scrolling:
![gif-scrolling](https://user-images.githubusercontent.com/44790691/131911754-443fd72a-4f2f-40b7-a9b0-0bb6343faa9c.gif)

Hope you can see that the amount of elements within t

[2021-10-01 16:07] ANG3L0 opened #3 "Buggy If Multiple Currencies"
Some slugs, like lostpoets would have multiple currencies.

The floor for example is at .969 ETH as of this writing.
https://opensea.io/collection/lostpoets

The first listing is selling it for 160 "ASH"

![image](https://user-images.githubusercontent.com/1111860/135652494-15b4ce14-a515-4c42-af13-ce9808ed2f9b.png)

When this scraper scrapes, it returns 160 as floor, instead of .969.

One of 2 ways

[2021-10-02 11:51] dcts commented on #3
Thanks for pointing that out! But I think this repository is no longer needed, becuase Opensea just added support for accurate floor prices in their official API, so we don't need to scrape anymore 🎉🍾

Heres a codesnipped on how to get any floorprice from any project directly from opensea official API, no more scraping needed:
[code]

[2021-10-03 18:59] dcts commented on #3
Ok nevermind ignore my comment from above, turns out the floor price is still inaccurate with the API. When I checked before it probably was a coincidence that all 4 collections i checked were accurate. When I test it now its not accurate anymore.

So this issue remains open, thanks for reporting. Will implementing an update that returns a floor price object instead, for example:
[code]

[2021-10-05 22:37] dcts commented on #3
@ANG3L0 I pushed a fix, now it only fetches the price of ETH and ignores all non-ETH items. Hope that is good enough, let me know if it worked so I can close the issue.

[2021-10-05 22:49] ANG3L0 commented on #3
Yep, works for me. Thanks so much for the quick turnaround!

[2021-10-05 23:14] #3 closed

[2021-10-19 12:08] dcts commented on #2
@Jethro87 I like the idea to return more information, if you want to implement it, feel free, I can also help. I have implemented a scraper for the rankigs with scroll functionality (if you want to fetch more than the first 5 items) that works without having a mutations observer.

I would suggest to have another function (for example) `OpenseaScraper.getOffers(slug, n)` that returns an array of it

[2021-10-25 20:04] robertistok opened #8 "New puppeteer launch for every call of the functions"
Hello!

In case one would like to run the scraper in a worker, to check for example the offers for multiple projects **asynchronously**, the current solution would launch a new `puppeteer` instance for each call.

There are two solutions that came to my mind:

1. Add the third argument, object named opts, to the functions, where users would be able to bring their own `puppeteer` instance. This is

[2021-10-27 23:25] dcts opened #20 "TODO: replace fetching of the floor price with new method"
Theres a faster way of getting floor prices I just found. When you have a collection endpoint with query params (meaning filtering is enabled), opensea exposes a `__wired__` variable to the window with a lot of information, also including the floor prices. Simply run:
[code]

## Some Remarks
- ✅ this does work on pages that have filtering enabled (BUY NOW). [Example](https://opensea.io/collection/

[2021-10-30 04:45] xFloki opened #21 "Rankings function path not found"
![image](https://user-images.githubusercontent.com/12599628/139520539-41c6484e-19a6-48ca-8db5-b14a402c51ea.png)

[2021-10-30 09:17] #21 closed

[2021-11-02 18:13] Jethro87 commented on #20
@dcts Nice catch! I just manually tested this on three collections and your solution appears to work. The 32 floor prices corresponded perfectly to the 32 offers available in the `__wired__` variable.

I think we should "accept" this as a faster/better solution for the time being, but I'm wary of removing the old scrolling method from the package. Who knows if/when OS will remove or change the wir

[2021-11-03 04:05] dcts commented on #20
Yes totally agree @Jethro87. I am working on a V5 that switches to this new method. I had the same concern as you and thought lets keep both methods, but now I prefere to just drop the "old" method in favor of the new one. This repository should just have the best current working solution, and when it breaks, ideally someone will notice and open an issue. Also the old solution is always usable by

[2021-11-03 15:42] fafrd opened #24 "Accurate floor price now available via API"
Hi- OpenSea employee here. We've added the `floor_price` to the /stats endpoint, and this should reflect the same up-to-date price as on our website:

[code]

https://api.opensea.io/api/v1/collection/cool-cats-nft/stats
https://twitter.com/apiopensea/status/1455918328397144069

[2021-11-03 16:08] dcts commented on #24
Opps I missed that you are an Opensea employee @fafrd!!! Thats sooo awesome, I am so happy!! Thanks so much for adding that feature so we don't have to scrape anymore! 💯🎉

[2021-11-03 19:09] #24 closed

[2021-11-03 19:10] #8 closed

[2021-11-03 19:10] #20 closed

[2021-11-24 12:05] alex-pcln commented on #2
@dcts has this functionality been removed? I find it very useful to be able to scroll down and get more results.

[2021-11-24 13:14] dcts commented on #2
@alex-pcln how many items do you need from a given page? Because in the current version of the scraper you get the top 32 offers. Simply run:
[code]

If you need more than the top 32 offers you might want to downgrade to v2 or similar. If you want I can lookup the exact version if thats usefull to you. But I am wondering in what use case you would need more than 32 offers? 🤔

[2021-11-24 14:35] alex-pcln commented on #2
Thanks @dcts I downgraded to commit `e01fea03e3` where it is still there.

Yes I need more than 32, actually I need all assets of a collection that are currently on sale. Unfortunately, it seems that I cannot get that from their API, so I'm using your scrapper. I just need to do some changes to detect the currency.

[2021-11-24 15:15] dcts commented on #2
Well if you need more than 32 items we should bring that functionality back, and maybe call the function `offersByScrolling`. If thats usefull to you I don't see any downside. I can add it back in.

[2021-11-24 15:29] alex-pcln commented on #2
That would be great, thanks. It's not the most efficient way to get all assets for sale but I couldn't find any other way at the moment.

[2021-12-01 20:36] dcts commented on #2
@alex-pcln which of the following methods do you need?
- **`offersByScrolling`** : you input the slug of the collection you want to fetch, for example `cool-cats-nft`.
- **`offersByScrollingByUrl`** : you input the url that points to a filtered collection, for example `https://opensea.io/collection/boredapeyachtclub?search[sortAscending]=true&search[sortBy]=PRICE&search[stringTraits][0][name]=Back

[2021-12-01 21:32] dcts opened #29 "bring back old offers method, to allow getting more than 32 offers"
@alex-pcln needs functionality to scrape more than 32 offers, so we decided to bring back the old method where we scrape offers by scrolling thorugh the page.

see issue #2

[2021-12-01 21:33] dcts commented on #2
migrated to issue #29

[2021-12-01 21:33] #2 closed

[2021-12-01 21:34] #29 closed

[2021-12-01 21:34] dcts commented on #29
fixed in pr #28

[2021-12-20 21:24] SKreutz opened #30 "All Functions return Promise { <pending> }"
Hey,

if I try to use any function it returns "Promise  pending".

I also removed the "await" from the functions because I get this error if i keep it:
const ranking =  await OpenseaScraper.rankings(nbrOfPages, options);
                           ^^^^^

SyntaxError: await is only valid in async functions and the top level bodies of modules

I would appreciate your help :)

Code used:

const Opens

[2021-12-20 22:03] #30 closed

[2021-12-20 22:48] dcts commented on #30
@SKreutz you can either use `.then` or wrap it around an annonymous async function:
[code]

[2022-01-23 22:29] SKreutz opened #31 "Can't fetch anymore collections (Opensea cloudflare update)"
Hey everybody,

I noticed that opensea increased the number of times it checked my browser when opening it.
I then noticed that the script can't fetch anymore collections.

✅ === OpenseaScraper.rankings() ===
=== OpenseaScraper.rankings() ===
...fetching 1 pages (= top 100 collections)
...opening url: https://opensea.io/rankings?sortBy=one_day_volume
...🚧 waiting for cloudflare to resolve
...expos

[2022-01-24 03:17] khalilsiu commented on #31
Same here.. try looking for solutions

[2022-01-24 03:45] dcts commented on #31
I can confirm the issue. Cloudflare is taking a very long time to resolve. I tested and could observe the following behavior:
- it eventually resolves, but it can take up to multiple minutes.
- the cloudflare page reloads multiple times. Increasing the overall timeout for all methods works, but not sure how usefull the scraping is when it takes ~2 mins to resolve.

Deploying a quickfix soon that w

[2022-01-24 04:43] dcts commented on #31
ok [cloudflare-scraper](https://github.com/JimmyLaurent/cloudflare-scraper) repo I tested does not work, it broke since cloudflare started to reload the page (which we also experience):
https://github.com/JimmyLaurent/cloudflare-scraper/issues/39#issuecomment-908615480

Unfortunately the waiting for 2 mins somehow also does not work consistently. Cant figure out why for now. Not sure what else to

[2022-01-24 06:46] khalilsiu commented on #31
would disabling timeout on waitForSelector work?
the error im getting is
`waiting for selector `.cf-browser-verification` to be hidden failed: timeout 30000ms exceeded` - guess they extended at a variable time..
also perhaps should wait for #__next tag to show?

[2022-01-24 07:52] dcts commented on #31
`waitForSelector` has a default timeout for 30000ms (30 secs). I tried extending to 2 mins but for me it still did not work. I also wanted to wait for the opensea page to appear, but with no luck. You can try around yourself:
[code]

`hidden: true` means puppeteer will wait for the selector to disappear. This was the logic before: wait until cloudflare class disappears, but we could also just wait

[2022-01-24 14:40] SKreutz commented on #31
Thank you for your quick responses. It seems that it works again without changing anything. I think you were right with the assumption that cloudflare changed something because opensea had a lot of traffic. I'll keep this issue open a few more days and I'll report to you if something changed again

[2022-01-24 15:38] dcts commented on #31
Ah great, thanks for the report, its good to know that this issue happens. I know there is a solution to bypass cloudflare but its not that simple to do. They also change stuff a lot so its always a cat and mouse game to keep up with the changes.

Its good that it works again and please do report after you test over the next few days!

[2022-01-26 08:52] khalilsiu commented on #31
the problem is still there when i am using cloud service to run the puppeteer.

[2022-01-27 21:37] SKreutz commented on #31
Did you try using a proxy? If you ran this on a cloud service it's probably just blacklisted by opensea.

I didnt run into anymore problems on Mac. If I try to run the script on Linux it stops right here

✅ === OpenseaScraper.rankings() ===
=== OpenseaScraper.rankings() ===
...fetching 1 pages (= top 100 collections)
...opening url: https://opensea.io/rankings?sortBy=one_day_volume
...🚧 waiting fo

[2022-01-27 22:58] mlarcher opened #32 "offers method not working in docker"
it crashes on https://github.com/dcts/opensea-scraper/blob/main/src/functions/offers.js#L101 because html does not contain `window.__wired__=`
Proabably this is because the page contains `This website is using a security service to protect itself from online attacks.`. I'm providing a custom puppeteer instance...

[2022-01-27 23:05] #32 closed

[2022-01-27 23:19] mlarcher opened #33 "docs should warn that browserInstance requires stealth plugin"
I need to provide a browserInstance as my code runs in an alpine docker container. I was having weird issues, like empty resultsets for `offersByScrolling` and an error for `offers` because a `split` on some part of the html could not be found...
I eventually found out that my browserInstance was detected by opensea, which was serving  a warning page instead of the content and tripping opensea-scr

[2022-01-28 02:28] dcts commented on #31
Which cloud service did you use? I am useing firebase functions (which basically is google cloud) and it works for me. If you want I can share my setup.

[2022-01-28 02:29] dcts commented on #31
@SKreutz can you open another issue for the linux bug?

[2022-01-28 02:38] dcts commented on #33
@mlarcher Valid point!

Just as explenation, the idea behind providing your own puppeteer instance is that you can:
1. fully customize the puppeteer instance
2. and if you find a solution without stealth plugin, you could implement a "stealth-less" version

But I agree a warning that stealth plugin is most likely needed would not hurt at all. But I would prefere to not throw an error because of ab

[2022-01-28 02:41] dcts commented on #32
If anyone encounters this error, it is because you most likely need to use [stealth plugin](https://www.npmjs.com/package/puppeteer-extra-plugin-stealth) for puppeteer.

See #33

Thanks @mlarcher for pointing this out!

[2022-01-28 03:48] khalilsiu commented on #31
I'm using compute engine for that, perhaps i should try with firebase in that case
I havent tried using a proxy yet..
It would be great if you can share your setup with me @dcts

[2022-01-28 03:50] khalilsiu commented on #31
Exactly, I took screenshots during the froze and it happens that the waiting page is being redirected to every time, so it is stuck within that waiting room forever.

[2022-01-28 07:31] SKreutz commented on #31
I'm closing since issue since the cloudflare problem is solved and opening a new one

[2022-01-28 07:31] #31 closed

[2022-01-28 07:34] SKreutz opened #34 "Code freezes when running `OpenseaScraper.rankings()`"
If I try to run the script on Linux (computer in the same network) it stops right here without any errors like it's frozen. It works perfectly fine on Mac and it's the same code. It worked a week ago and nothing was changed.

✅ === OpenseaScraper.rankings() ===
=== OpenseaScraper.rankings() ===
...fetching 1 pages (= top 100 collections)
...opening url: https://opensea.io/rankings?sortBy=one_day_v

[2022-01-28 08:33] mlarcher commented on #33
I am using the scraper in an Alpine based docker container. This implies that I need to control the puppeteer version so that its requirements are meet by the image. Typically, puppeteer version will have to be less than the latest one. See https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-on-alpine for details

[2022-01-29 00:02] mlarcher commented on #33
For info, after some tweaks i managed to have the sandbox working and I don't need to use browserInstance anymore

[2022-01-29 12:55] dcts commented on #34
Thanks for the report, appreciate it!

You can always turn on debug mode and then you can actually watch the browser and see the scraping process. To turn on:
[code]

I run `rankings()` on a linux but cannot reproduce the bug. It might have something to do with screensize (smaller or larger screen might show another DOM due to responsive webdesign).

Can you rerun the function with debug turned on

[2022-01-29 13:31] SKreutz commented on #34
Thank you for answering I appreciate your help.

When debugging with total volume it opens the browser and waits for the collections to load. It then scrolls down to the bottom, closes the browser and returns the slugs.

When debugging with 24h volume on the same screen size it does the same but always stops scrolling at about position 50 - 54 (not consistent). After a few minutes it keeps scrolli

[2022-01-29 14:13] dcts commented on #34
this is really weird behaviour, will look into the code if I can find something that might cause this. Will let you know if I find something!

[2022-01-29 14:22] SKreutz commented on #34
Thank you, let me know if you need further information

[2022-01-31 06:43] berstend commented on #33
Hey there, I think the best way to detect if the stealth plugin is active on a browser instance is to check the chrome launch args, which can be accessed through the browser object:

[code]

[2022-02-02 11:19] dcts commented on #33
@berstend thank you so much, that works! :)

Was just wondering how this works? Is the spawnarg `--disable-blink-features=AutomationControlled` only used by the stealth plugin and thats how we can know it was launched with that plugin? 🤔

[2022-02-02 12:34] dcts opened #36 "`OpenseaScraper.offersByScrolling()` not properly working"
I noticed that the function `offersByScrolling()` and `offersByScrollingByUrl()` is not working properly. Most of the offers are not scraped (a lot of them are skipped for some reason, approximately 75% of the offers are not saved). This leads to the function being stuck for a long time, as it takes a lot longer to scrape the desired amount of offers when 75% of the offers are not scraped.

[2022-02-02 12:35] dcts commented on #36
If anyone experiences this too and relies on this function please comment below so I know its urgent 📝

[2022-02-02 13:04] dcts commented on #33
fixed in PR #37

[2022-02-02 13:04] #33 closed

[2022-02-03 22:52] SKreutz commented on #36
This is exactly the problem I'm running into right now. should I close the other issue?
I didn't find a fix until now but I'll also keep looking into this. It also still doesn't occur when choosing "total_volume" instead of the other options.

[2022-02-04 00:22] dcts commented on #36
Oh yeah you're right, somehow I didn't realize this is the same bug than you reported, I randomly noticed it during testing. Closing the other issue #34 as its the same.

[2022-02-04 00:22] dcts commented on #34
moved to #36

[2022-02-11 16:16] dcts commented on #36
@SKreutz do you need to scrape multiple pages or are the first 100 sufficient? Because there is a way of getting the top 100 elements without scrolling, just run this script:
[code]

I will integrate this in the repository soon and add the following functions:
[code]

[2022-02-11 19:55] dcts commented on #34
Reopnening as I realized that this is not the same function, this issue is about the `rankings()` function, the other issue is about

[2022-02-11 19:55] #34 closed

[2022-02-11 19:55] dcts commented on #34
Scrape top100 with this simple script
[code]

[2022-02-12 14:06] SKreutz commented on #36
@dcts I only want to scrape the first 100 slugs yes. Where do I put the 3 lines of code you provided? Thank you for your help I really appreciate it!

[2022-02-12 19:40] dcts commented on #36
@SKreutz I added this new method and updated the repository, just update to the latest version `6.0.0` and then you can do:
[code]

[2022-02-12 21:43] jervalles opened #39 "Not working when deployed (heroku)"
This is not working for me when I deploy the app on heroku but working fine in local.
Is that the same for you?

![image](https://user-images.githubusercontent.com/53664568/153729380-e4d94d37-31d5-4672-8764-29bdfd7a644e.png)

[2022-02-12 22:19] dcts commented on #39
Deploying scrapers to heroku or other providers (google cloud, AWS) is always trickier than running from local environment, because opensea might be able to detect IP addresses of those providers.

I use google cloud ([firebase functions](https://firebase.google.com/docs/functions)) and it seems to work well with puppeteer, I will quickly test my setup and let you know.

[2022-02-12 22:25] jervalles commented on #39
Thank you for the fast answer!

Your package is just amazing and would love to work with it! if you have a solution I will be happy

[2022-02-12 23:51] dcts commented on #39
I could not make it work on firebase cloud function as well (for now). What is weird is that I have a setup that is deployed and working, but could not reproduce. Sorry I can't give a more helpful answer as of now, maybe with a fresh mind I will be able to figure out and will post here.

If you find out something else please share, might be interesting for folks using heroku too.

[2022-02-13 08:42] jervalles commented on #39
Where is your working setup deployed? Cause I've just tried heroku but if I can use something else...

[2022-02-13 14:28] jervalles commented on #39
tried to put a node server to a dedicated NAS with your solution and I got this as error. My local my and this server got the same project (from git)

![image](https://user-images.githubusercontent.com/53664568/153757704-7d3e342d-d1eb-4e7a-8edf-401bf1f74484.png)

[2022-02-13 16:51] jervalles commented on #39
related to this:
https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-on-heroku
![image](https://user-images.githubusercontent.com/53664568/153765575-62032052-4cdc-4622-aebc-dd0cf0168f77.png)

How can I add this on your package?

[2022-02-14 22:26] mlarcher opened #40 "TimeoutError: waiting for selector `.cf-browser-verification` to be hidden failed: timeout 30000ms exceeded"
This is what I get running on GCP : `TimeoutError: waiting for selector `.cf-browser-verification` to be hidden failed: timeout 30000ms exceeded`
It seems it is sometimes working and sometimes failing on this error.
Any idea what's happening there ?

[2022-02-15 04:48] dcts commented on #40
I think most likely opensea is detecting that you run the scraper from a google cloud IP and the cloudflare loop kicks in where it will refresh the page in an endless loop asking you to wait to resolve.

I have no way around that currently, deploying scrapers on cloud infrastructure is difficult.

If you (or someone else) has ideas please share, its a very common problem.

[2022-02-15 04:53] dcts commented on #39
Thanks for reporting, it seems to be hard to deploy on any cloud infrastructure currently, also google cloud (see #40 )

[2022-02-15 11:13] SKreutz commented on #36
@dcts your fix seems to work fine! Really appreciate your help. It's even a lot faster than before. This bug can be closed.

[2022-02-27 10:29] jack75015 opened #41 "adding testnet"
Hey
What could be nice is adding testnet option to scrap opensea testnet website :)

[2022-02-27 14:23] dcts commented on #41
Is it this one:
Testnets.opensea.io

Or are there more than 1 sotes?

[2022-02-27 14:26] jack75015 commented on #41
yep this one
they use Rinkeby eth network

[2022-03-11 15:26] venusbin opened #42 "question"
Is there a way to apply opensea's filters?

ex) https://opensea.io/collection/boredapeyachtclub?search[sortBy]=PRICE&search[sortAscending]=true&search[stringTraits][0][name]=Background&search[stringTraits][0][values][0]=Purple

[2022-03-11 22:47] dcts commented on #42
Yes, you can do:
[code]

[2022-03-13 00:03] #42 closed

[2022-03-17 14:30] mlarcher commented on #36
How come the issue has been closed ? Has the `OpenseaScraper.offersByScrolling()` method been fixed ?

It seems to me that the issue first expressed in this ticket is still happening, but you found a workaround for the `rankings` case. Is there something I am not interpreting correctly ?

[2022-03-17 21:11] dcts commented on #36
@mlarcher I just checked and yes, you are absolutely right, the issue was never resolved. Thanks for reporting!

I need to take a closer look at the code, something happend that broke the code.

[2022-03-17 21:35] SKreutz commented on #36
I just tried to repoduce the issue.
When I try to check for example "slotienft" with currently 390 items on "buy now" and using the offers method works fine:

=== actions ===
new page created
opening url https://opensea.io/collection/slotienft?search[sortAscending]=true&search[sortBy]=PRICE&search[toggles][0]=BUY_NOW
🚧 waiting for cloudflare to resolve...
extracting __wired__ variable
closing brow

[2022-03-17 22:17] mlarcher commented on #36
Here's what I get:
[code]
I'm on MacOS Monterey 12.3 in a docker container running node:16.14.0-alpine3.14

[2022-03-17 22:19] dcts commented on #36
@mlarcher I published a fix, can you test and let me know if it works now, be sure to use version `6.0.2` :)

[2022-03-17 22:29] dcts commented on #36
@mlarcher I am not sure I understand the logs you reported above, you at one point stated that "Scraping offers by scrolling also works fine for me." so that got me confused... I deleted the above comments, can you upgrade `OpenseaScraper` to version `6.0.2` (I just releases if 5 mins ago), retest on your end and let me know if it worked.

If you have error logs please submit in the following form

[2022-03-17 22:35] dcts commented on #36
@SKreutz thanks for testing! I think it might have looked like everything works on your end, but in fact a lot of the offers were missing when using the `offersByScrolling` method. The bug was that 80% of the offers were skipped, only ~20% got scraped. This is particularly bad because sometimes it might seem that everything works, whereas it actually did not. And other times it just broke.

But no

[2022-03-17 22:38] mlarcher commented on #36
@dcts it's @SKreutz who said "Scraping offers by scrolling also works fine for me" not me...
I just tested the 6.0.2 version, I got `[{"foundOffersCount":412,"stats":{"totalOffers":413}}]` so one offer is still missing in the `offers` array. I'm running it a second time to be sure, but I see 413 on opensea right now, so thre's probably still something going on.

[2022-03-17 22:45] mlarcher commented on #36
second run got me `[{"foundOffersCount":405,"stats":{"totalOffers":413}}]` so we're not good yet :/

[2022-03-17 22:47] mlarcher commented on #36
also, is there any chance it works on GCP with current version, or is it an unrelated problem that I get empty results in production ?

[2022-03-17 22:49] dcts commented on #41
@jack75015 is this still relevant to you? Because I tested and you can simply do this (as a "hack"):

[code]

[2022-03-17 22:52] dcts commented on #36
@mlarcher can you post what collection you scraped that got you these results?

[2022-03-17 23:03] mlarcher commented on #36
here it is @dcts :

[2022-03-17 23:35] dcts commented on #36
When I run the following:
[code]

I get correct results, in fact, they are identical to running `OpenseaScraper.offers("chumbivalleyofficial",options)`.

Can you run it locally (not on GCP) and report?

To answer your question: yes, its an unrelated problem that has nothing to do with the scraper, but with the environment. Cloud setups for scraping are always difficult because you don't have full

[2022-03-18 08:48] mlarcher commented on #36
@dcts thanks for the information.

GCP is not at stake here, as we have absolutely no result at all there.

What I was giving are results in a docker container on my machine.

Your test got me thinking, and I tried directly on the host machine with no docker container involved and got the same issue : `[{"foundOffersCount":419,"stats":{"totalOffers":422}}]`

In your test you are limiting the resul

[2022-03-18 14:31] dcts commented on #36
@mlarcher I tried the same with 500 and could replicate the inconsistency. Here are my results:
[code]
So yes theres still an issue. But can you confirm that you at least get the algorithm running and you get most of the offers? (even if its not all of them)? You could get 419 offers out of 422, is that right? 🤔

I think some offers don't get fetched because of how the scraping algorithm is design

[2022-03-18 14:49] SKreutz commented on #36
I also thinks it’s not possible to fetch 100% because of the way opensea uses to display the items and as you mentioned the DOM changes. When scrolling manually and looking at the html, the DOM changes and adds the elements as they appear. Sometimes opensea is very slow or the nfts are gifs instead of jpegs which takes even longer and I think that’s why some items are skipped.

The only way to „fi

[2022-03-18 15:57] mlarcher commented on #36
yes, that's it when run locally or in the docker cotainer on my home machine. On GCP I get no result at all, but as we saw it's not the same issue.

Perhaps a timeout after the last scroll only somehow ?

I'll check if there is a better way to know when the DOM is "stabilized"...

[2022-03-18 20:57] mlarcher commented on #36
perhaps you could use something like https://developer.mozilla.org/fr/docs/Web/API/MutationObserver to monitor dom changes, and scroll debounce an ending function until nothing moves anymore ?

[2022-03-19 10:43] dcts commented on #36
Yes this is a good idea, I tried this at some point but could not make it work, maybe worth a revisit. Also what could be even more efficient is scrolling and simply controling puppeteer network activity, like this:
[code]

Once new data needs to be fetched the graphql API is called and when we intercept that request we get the data in this format:
[code]
![Bildschirmfoto vom 2022-03-19 11-39-36](

[2022-03-19 10:51] dcts commented on #36
Ups just realized that I posted the collection information above, the information for every single item (offer) is looks like this:
[code]

[2022-03-19 17:00] mlarcher commented on #36
@dcts hooking into the graphql API sounds like a wonderful idea. It could drastically improve the performance and avoid some DOM related pitfalls 👍

[2022-03-19 23:09] mlarcher commented on #36
Using the API would be nice, but from what I heard they don't give API tokens very easily, and even if granted an API Key you would be facing some limits/restrictions.

Also it seems the query they use on the site is not documented (AssetSearchQuery) and it requires an API key and a CSRF token that changes on every call, so I can see why it could be a pain to use...

using `page.on('response', (re

[2022-03-20 08:44] dcts commented on #36
@mlarcher I'm working on it currently but not sure, depending on how long it will take to implement it could be today or next weekend maybe. But obviously no guarantees. ^^

[2022-03-20 20:44] mlarcher commented on #36
great to read 👍
I'm looking forxard to see it.
Let me know if I can do anything to help

[2022-03-23 18:26] dcts commented on #36
@mlarcher I just found out that Opensea has a bug in their display of number of offers. The number they display on the page does not match the actual nfts displayed. For example check this page:
https://opensea.io/collection/deadfellaz?search[sortAscending]=true&search[sortBy]=PRICE&search[stringTraits][0][name]=Background&search[stringTraits][0][values][0]=Blue&search[stringTraits][1][name]=Body%

[2022-03-23 18:28] dcts commented on #36
(**side note**: I'm still gonna publish a v7 very soon with more efficient scrolling, as I already built it and like the architecture way better)

[2022-03-23 19:37] mlarcher commented on #36
I'm looking forward to try it out !! 🤩

About your other point, the collection currently says 78 items and effectively lists them all, but I believe there can be a bug on their side there. There were never a big offset, so I'm fine leaving it at that 👍🏻

[2022-03-23 22:32] mlarcher commented on #40
UPDATE: When running on GCP we now have a less frequent `TimeoutError: waiting for selector ``.cf-browser-verification`` to be hidden failed: timeout 30000ms exceeded` error, but when we don't have the error we end up with a empty offers list and stats, i.e.:
[code]
I hope this will be fixed by v7's new approach 🤞

[2022-03-26 21:33] kris-ow opened #46 "Reading from Activity page"
Would you consider adding a feature of reading from an activity page (sales/listings)? e.g. https://opensea.io/collection/sandbox?tab=activity&search[isSingleCollection]=true&search[eventTypes][0]=AUCTION_CREATED

[2022-04-01 17:03] mlarcher commented on #36
Any ETA for the new version by any chance? I'm eager to try it 😊

[2022-04-02 00:55] dcts commented on #46
I think if you need the latest sales data you can get it from Opensea API directly. No scraping needed. Read more here:
https://docs.opensea.io/reference/event-object

![Bildschirmfoto vom 2022-04-02 02-54-10](https://user-images.githubusercontent.com/44790691/161357762-c7281a6a-1856-45e1-b1e5-67c949dbf805.png)

[2022-04-02 00:56] dcts commented on #41
closing as testnet scraping is already supported when using `offersByUrl` method.

[2022-04-02 01:00] dcts commented on #36
I have a working implementation with the new algorithm but its not stable, so I won't publish it. I can share my work in a seperate dev branch if you like.

[2022-04-02 09:23] mlarcher commented on #36
I'd be interested in taking a look at it. Also, what's not stable ? Is there anything I can do to help ?

[2022-04-02 20:07] pm-12 opened #47 "Page 2 volume rankings"
Is it possible to fetch rankings from more than 1 page?

[2022-04-03 00:45] dcts commented on #47
Unfortunately not, that functionality was depricated as it was not stable.

[2022-04-03 00:45] #46 closed

[2022-04-03 00:53] dcts commented on #47
If you want you can try using the old version, just install the package with version `5.0.4`:
[code]

Then you can use this script to fetch for example 3 pages:
[code]

Hope that helps..! @pm-12 Let me know if that works for you. If its usefull I might bring it back in a next version.

[2022-04-03 01:00] pm-12 commented on #47
Thanks will try it out, is there a way to reach you on telegram maybe?

[2022-04-10 12:41] mlarcher commented on #36
@dcts Any news ?
FYI we now have our scraping job on GCP stuck on "scrape offers until target resultsize reached or bottom of page reached" and never ending...
I'd like to check if the new implementation works any better there

[2022-04-10 23:45] dcts commented on #36
@mlarcher if you like check out the branch `dev-improve-offersByScrolling`. The new implementation sometimes works, but not stable as I mentioned. The autoscrolling part needs improvement. You can test the new version by running `fit fetch` and then `git checkout dev-improve-offersByScrolling`. And then use the new version with:
[code]

When you run the scraper on GCP, do the other functions work

[2022-04-11 09:44] mlarcher commented on #36
I tried `offers()` in production on GCP and got
[code]
right after `extracting __wired__ variable`
Is there a way to dump the html content for debugging ?

[2022-04-11 11:13] dcts commented on #36
I would argue that if `OpenseaScraper.offers()` does not work on GCP there's no way that `OpenseaScraper.offersByScrolling()` will work (on GCP). So theres 2 problems here:
1. making OpenseaScraper run on GCP
2. making `OpenseaScraper.offersByScrolling()` work

Before takling 2 you need to figure our 1, otherwise theres no way to properly debug. The topic of this issue is 2 though.

[2022-04-11 11:38] dcts commented on #36
You can get the HTML content from puppeteer with [`content()`](https://devdocs.io/puppeteer/index#pagecontent) method:
[code]

[2022-04-11 22:37] mlarcher commented on #36
From what I gathered :
- I'm facing "Cloudflare Browser Integrity Check" (cf https://support.cloudflare.com/hc/en-us/articles/200170086-Understanding-the-Cloudflare-Browser-Integrity-Check )
- Some hints to prevent being detected : https://stackoverflow.com/a/56529616/263440
- But in https://stackoverflow.com/questions/62751377/bypass-cloudflare-with-puppeteer we read that "They will throw up a ca

[2022-04-12 12:49] dcts commented on #36
Lets move this conversation to issue #40 (moved your content over there)

[2022-04-12 12:58] dcts commented on #40
Bypassing cloudflare is definately not my expertise. I have tried to solve this problem for some time now, and it is definately possible but as you mentioned its an arms race. I tried these packages:
- [cloudflare-scraper](https://github.com/JimmyLaurent/cloudflare-scraper) in JS, did not work for me. To me it seems like its not maintained anymore.
- [cloudscraper](https://github.com/VeNoMouS/clou

[2022-04-21 17:38] 5ne opened #50 "add support api key header for open sea"
I dont see any support for opensea api keys which would be needed for prod environments.

See here: https://docs.opensea.io/reference/getting-assets

[2022-04-21 21:00] dcts commented on #50
This repository scrapes opensea to get the required information, it is not dependant on API keys. What usecase do you have where you would need an API key in combination with scraping?

[2022-04-21 21:07] 5ne commented on #50
Correct, it's not dependent on API keys.  However, what this "scrapes" is the OpenSea API (https://github.com/dcts/opensea-scraper/blob/7e7df1a4ad10d0a5272a5d4a951637501b2b3072/src/functions/basicInfo.js#L8) which recommends using an API key for production environments.

If you take a look at their documents, they say that API key would be needed for prod: https://docs.opensea.io/reference/api-ove

[2022-04-21 21:15] dcts commented on #50
Oh got it! Yes this is only one method which is just a simple wrapper for the actual API, you're right. I kinda forgot it since it is not the core of this repository, just had it in there because I found it useful. If you use this in production and want me to add support for API key feel free to add a suggestion with via PR, happy to adapt.

[2022-04-22 00:13] 5ne commented on #50
great, i'll fork and add a PR

[2022-05-16 06:56] itsanishjain opened #51 "scrapping owner address from a collection"
Is it possible to scrapper the owner address using this tool from any specific project

I know from smart contract we can easily do that.

But collections which I am at is created using opensea store contract

[2022-05-17 14:48] dcts commented on #51
@itsanishjain can you provide an example (with a url from opensea)?

[2022-05-26 03:50] itsanishjain commented on #51
hey thanks I found the solution using opensea api thanks for the response

[2022-05-26 03:50] #51 closed

[2022-05-30 10:09] dcts commented on #47
reopening and adding to roadmap as this seems to be a common usecase.

[2022-06-11 04:16] DanielBrannon opened #52 "OpenseaScraper.rankings"
![image](https://user-images.githubusercontent.com/45118071/173172125-2c7f55c0-e091-4f98-9efe-e0bb002e0ec0.png)
![image](https://user-images.githubusercontent.com/45118071/173172134-e68df3c1-1fa8-4280-99b7-50384c01a55c.png)
This functionality no longer works, getting an axios error from this function alone. It responds with error code 404 which is file not found.

[2022-06-11 05:36] #52 closed

[2022-06-14 13:18] dcts commented on #50
@5ne assuming this is not relevant anymore, so closing this issue :)

[2022-06-14 13:18] #50 closed

[2022-07-01 12:13] kaiqiangh opened #55 "[BUG] Cannot get any result for floor price"
I cannot get any result for floor price from a NFT on opensea. I used the same code as before (it worked), but now it does not work. I would wonder - is it caused by opensea website upgrade? Thanks.

[2022-07-01 12:14] dcts commented on #55
Can you provide a code snipped and the result you get so I can check what the problem is? Thanks!

[2022-07-01 12:19] kaiqiangh commented on #55
`const OpenseaScraper = require("opensea-scraper");

run()

async function run(){
    const options = {
        debug: false,
        logs: false,
        sort: true,
        browserInstance: undefined,
    }

    let nft = 'otherdeed'

    let url = `https://opensea.io/collection/${nft}?search[sortAscending]=true
                &search[sortBy]=PRICE
                &search[toggles][0]=BUY_NOW`

[2022-07-02 14:38] vincentventalon opened #57 "Can we add functionnality to scrape someone activity"
As collection offers just arrived and are not get by the API I would like to be able to scrape someone activity to check if they did collection offer.

Do you take new stuff on the roadmap or just maintaining it?

[2022-07-02 14:41] dcts commented on #57
Can you make a specific example with URLs linked of what you would like to be scraped? I don't quiet understand what you are requesting here.

[2022-07-02 14:47] vincentventalon commented on #57
Sorry i just didn't saw we can we collection offer directly. I will make a test and come back

[2022-07-02 16:58] superhiddenmelon commented on #57
OK sorry i don't know how to change the title but here is the URL I would like to scrape : https://opensea.io/collection/cryptocannabisclub/activity?search[isSingleCollection]=true&search[eventTypes][0]=COLLECTION_OFFER

I did a few tests and nothing works with the actual library

[2022-07-02 16:59] vincentventalon commented on #57
Hello So I did a few tests and I would like to scrape this URL : https://opensea.io/collection/cryptocannabisclub/activity?search[isSingleCollection]=true&search[eventTypes][0]=COLLECTION_OFFER";

but can't make it work. It's a recent feature from opensea

[2022-07-02 17:33] dcts commented on #55
This is a good catch, as of current state the `offersByScrollingByUrl` function seems to be broken. In fact, all function that include `byScrolling` are currently still broken (see open issue #36).

But in the snippet you provided I see no need to use `offersByScrolling`, you could simply use the `offers` function:

[code]

[2022-07-04 08:38] kaiqiangh commented on #55
Thanks for your suggestion. It works!
I would confirm one thing - if I use `offers` function, is there a way to control the number of outputs (for example, I'd only get 5 outputs from this function)?

Thanks

[2022-07-06 17:30] kaiqiangh commented on #41
Hi dcts,

I tried to use the same code to get results from opensea testnet, but it failed with the error message below.
![image](https://user-images.githubusercontent.com/9014062/177608922-95ceb0cd-39da-4515-b2c0-b7e7cb89c4b8.png)

It seems that the page is not actually scrapered so that there is no "html" content for further use. Any suggestions for that?

Thanks.
Kai

[2022-07-07 10:16] dcts commented on #41
@kaiqiangh I could replicate the issue, the problem is the following:
- the testnet sites usually have a weird page that is displayed in between the actual result page
- just waiting for ~2 seconds before starting the scraping soloves the issue
- unfortunately there is no feature implemented to wait before scraping

I am working on a feature `additionalWait` where you can simply add to the options

[2022-07-07 10:23] kaiqiangh commented on #41
Thank you very much!

[2022-07-07 10:51] dcts commented on #41
### new version with `additionalWait` just published (opensea-scraper v6.5.0)

You should be able to overcome this issue like this:
1. upgrade to OpenseaScraper v6.5.0 (by running `npm install opensea-scraper@6.5.0`)
2. add an additionalWait of ~2-4 seconds:
[code]

let me know if it worked :)

[2022-07-07 11:09] kaiqiangh commented on #41
Hi @dcts,

Much appreciated for your quick update.

It works, but there is a minor bug.

![image](https://user-images.githubusercontent.com/9014062/177759553-d5e31713-7e3a-46bf-89b9-2479f3eb5922.png)

the offerURL should be llike "https://testnets.opensea.io/assets/rinkeby/NftAddress/nftID".

[2022-07-07 11:27] dcts commented on #41
Good catch, just fixed it! Please update to newest version:
[code]

[2022-07-07 11:39] dcts commented on #41
great! Closing...!

[2022-07-07 11:39] #41 closed

[2022-07-13 14:58] githuilan opened #60 "[BUG] Missing price in result"
The result cannot get prices anymore

![image](https://user-images.githubusercontent.com/86963227/178765213-09bca3a4-19a9-426b-94e8-4630d779f2b5.png)

[2022-07-13 14:59] kaiqiangh opened #61 "[BUG] Cannot get price"
Hi,

I used two scripts below for getting prices of nfts, but all failed. I remembered that I can get prices by using function "offers" or "offersByUrl" before, but they do not work now.
Script 1:
`
let result_testnet = await OpenseaScraper.offersByUrl("https://testnets.opensea.io/collection/doodles-officias", options);
console.dir(result_testnet, {depth: null}); // result object contains keys sta

[2022-07-13 22:23] dcts commented on #61
thanks a lot, its a bug, working on it.

[2022-07-13 22:31] kaiqiangh commented on #61
Thanks for your response. I think opensea website Could have updates somewhere.

[2022-07-13 22:35] dcts commented on #60
thanks for reporting. Same bug as #61 . Working on it.

[2022-07-13 22:59] dcts commented on #61
So opensea changed some variable names in their `__wired__` variable (we get the prices from that variable).

I noticed that `quantityInEth` is not longer availible. Instead only `quantity` seems to exist.
[code]

Unfortunately simply chaning this does NOT fix the issue, because the mapping is off. This needs more investigation. Leaving my findings here for now.

[2022-07-13 23:12] dcts commented on #55
`offers()` and `offersByUrl()` by default return 32 results (but is currently broken, see #61). The only time it will return less than 32 results is when there are less than 32 items currently on sale (this might happen if you input an url that has a lot of filtering of traits, e.g. `OpenseaScraper.offersByUrl("https://opensea.io/collection/boredapeyachtclub?search[sortAscending]=true&search[sortB

[2022-08-05 09:43] kaiqiangh commented on #61
Is there any updates on this issue? Thanks

[2022-08-05 10:23] dcts commented on #61
I currently don't have time to fix this. I have it on my todo list, but I cannot promise nor predict any timeline.

[2022-08-05 10:40] kaiqiangh commented on #61
Thnaks for your reply.

[2022-08-16 14:45] kaiqiangh commented on #61
I did some investigations on Opensea website abnd made some changes on source code. Now it seems work.

`
  const floorPrices = Object.values(__wired__.records)
    .filter(o => o.__typename === "PriceType" && o.eth && o.unit && o.usd)
    .filter(o => o.eth)
    .map(o => {
      return {
        amount: o.eth,
        currency: 'ETH',
      }
    });
`

[2022-08-19 05:48] ankerbachryhl commented on #61
this works!! thank you!

[2022-08-19 07:34] #61 closed

[2022-08-19 07:40] dcts commented on #61
thanks @kaiqiangh for the fix! I adapted it in the new version 6.5.2. To adapt please use version `6.5.2`:
[code]

or alternatively if you have it already installed upgrade to latest version
[code]

Thank you! ♥️

[2022-08-19 07:41] dcts commented on #60
@githuilan a fix for this was created. To adapt please use version `6.5.2`:
[code]

or alternatively if you have it already installed upgrade to latest version
[code]

Let me know if it worked!

[2022-08-19 07:44] #55 closed

[2022-08-19 07:45] dcts commented on #55
thanks @kaiqiangh for the fix! 🎉

[2022-08-19 09:42] kaiqiangh commented on #61
All good! Thanks!

[2022-08-26 18:25] MetalGear-cmd opened #63 "offersByScrolling() and offersByScrollingByUrl() does not work"
Hey everyone so I have been trying to scrape some page from Opensea. And I have used the  offersByScrollingByUrl() but I was unsuccessful.
When I use these methods  offersByScrollingByUrl() even though I provide the resultSize it stop once it reaches the bottom of page.
and once it reaches the bottom it returns empty resuly.
{ offers: [], stats: { totalOffers: undefined } }

my code:
`const option

[2022-10-13 08:49] nathan1505 opened #64 "How to scrape more than top 100?"
Is there a way to scrape the ranking outside of the top 100 from the latest version?

[2022-11-16 20:24] waheedshabeer opened #65 "floorprice is null"
<img width="1041" alt="image" src="https://user-images.githubusercontent.com/63425832/202286584-3c41c50d-2605-4d7c-b6a3-c53d52fd0a3c.png">

[2022-11-16 20:29] dcts commented on #65
Can you share your code that produced this output?

[2022-11-16 20:31] waheedshabeer commented on #65
ranking = await OpenseaScraper.rankings("24h");

[2022-11-16 21:00] dcts commented on #65
should be fixed, can you upgrade to v6.6.0 and test it? @waheedshabeer

[2022-11-16 21:16] waheedshabeer commented on #65
Okay

[2022-11-16 21:21] waheedshabeer commented on #65
Working fine now after using version 6.6.0
@dcts

Version     "opensea-scraper": "6.6.0",

[2022-11-16 21:56] waheedshabeer commented on #65
Thank you @dcts

[2022-11-16 21:57] dcts commented on #65
awesome! Thanks for reporting! :)

[2022-11-16 21:57] #65 closed

[2022-11-28 13:26] dcts commented on #64
Hi, sorry for the late reply, somehow missed this one.
Curently there is no way to scrape beyond 100 collections on the rankings page.

[2022-11-28 13:26] #64 closed

[2022-11-28 13:27] dcts commented on #64
Hi, sorry for the late reply, somehow missed this one.
Curently there is no way to scrape beyond 100 collections on the rankings page.

[2022-11-29 04:37] #60 closed

[2022-11-29 04:43] dcts commented on #63
@MetalGear-cmd sorry for the late reply, `offersByScrolling` is not working anymore (unfortunately), see issue #36 and [disclaimer](https://github.com/dcts/opensea-scraper/blob/ab3f02aca0dd6ec33397d32eaf3ab2d8ed1ea8ca/README.md?plain=1#L78-L79) in the readme file. Closing as duplicate.

[2022-11-29 04:43] #63 closed